<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar un Curso</h1>

    <form action="{{url_for('editar',id=curso['id'])}}" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" value="{{curso['nombre']}}">
        <br>
        <label for="instructor">Instructor</label>
        <input type="text" name="instructor" value="{{curso['instructor']}}">
        <br>
        <label for="topico">Topico</label>
        <input type="text" name="topico" value="{{curso['topico']}}">
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>