{% extends "base.html" %}

{% block title %}Perros{% endblock %}

{% block content %}

<div class="list-container">

    <h4 class="mb-4">Perros disponibles</h4>

    {% if puppies %}

        {% for pup in puppies %}
        <div class="dog-item">
            <div>
                <div class="dog-name">{{ pup.name }}</div>
                <div class="dog-id">ID: {{ pup.id }}</div>
            </div>

            <div class="dog-actions">
                <a href="#">Ver</a>
                <a href="#" class="text-danger">Eliminar</a>
            </div>
        </div>
        {% endfor %}

    {% else %}
        <div class="empty">
            No hay cachorros aún 🐾
        </div>
    {% endif %}

</div>

{% endblock %}